/* INTRODUCTION SECTION */
.introduction {
    overflow: hidden;
    padding: 200px 0;
  }
  @font-face { /* <추가한 것> */
    font-family: jua;
    src: url("../../font/BMJUA_ttf.ttf");
  }
  .introduction__inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    font-family: 'jua', 'Spoqa Han Sans Neo', 'sans-serif';
  }
  
  .introduction__inner video {
  
    position: absolute;
    top: -300px;
    z-index: -1;
    width: 100%;
    transform: scale(2.5);
  
  }
  .introduction__inner video.scroll {
    animation: 1s zoomIn linear;
  }
  @keyframes zoomIn {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(2.5);
    }
  }
  
  .introduction__inner a {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .introduction__inner a:hover {
    color: #b0b8c1;
  }
  .introduction__inner a.scroll {
    animation: 2s fadeinBottom linear;
  }
  
  /* INTRODUCTION TITLE */
  .introduction__title {
    margin-bottom: 20px;
  }
  .introduction__title.scroll {
    animation: 0.75s fadeinBottom linear;
  }
  .introduction__title h2 {
    background: linear-gradient(to right, #b3d4ff, #FAC92E, #b17efc);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 68px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
  }
  
  /* INTRODUCTION KEYWORD */
  .introduction__keyword {
    margin-bottom: 65px;
    text-align: center;
  }
  .introduction__keyword.scroll {
    animation: 1s fadeinBottom linear;
  }
  .introduction__keyword span {
    margin: 0 5px;
    font-size: 32px;
    font-weight: 250;
  }
  .introduction__keyword span:nth-child(1) {
    color: #FAC92E
  }
  .introduction__keyword span:nth-child(2) {
    color: #f2a7bb
  }
  .introduction__keyword span:nth-child(3) {
    color: #b17efc
  }
  .introduction__keyword span:nth-child(4) {
    color: #b3d4ff
  }
  
  /* INTRODUCTION LOGOS */
  .introduction__logos {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }
  .introduction__logos.scroll {
    animation: 1.5s fadeinBottom linear;
  }
  .introduction__logos div {
    margin: 0 50px;
  }
  .introduction__logos div img {
    width: 120px;
    height: 120px;
  }
  .introduction__logos div p {
    margin-top: 12px;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    color: #b3d4ff;
  }
  
  /* INTRODUCTION DSC */
  .introduction__dsc.scroll {
    animation: 2s fadeinBottom linear;
  }
  .introduction__dsc p {
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    color: #FAC92E;
  }
  
  /* FADEIN BOTTOM */
  @keyframes fadeinBottom {
    from {
      transform: translate(0px, 100px);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }